.index-introducao {
  padding-top: 80px;
}

.index-introducao h1:nth-of-type(2) {
  margin-top: 50px;
}

.index-introducao p {
  margin-top: 10px;
  font-size: 1.4rem;
  text-indent: 2rem;
}

.index-selecao {
  margin: 60px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  gap: 100px;
}

.index-selecao a {
  max-width: 210px;
  border: 5px solid transparent;
}

.index-selecao a:hover {
  border: none;
}

.index-selecao span {
  display: block;
  margin-top: 10px;
}

.index .footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width:700px) {
  .index .header {
    margin: 0;
    justify-content: start;
  }

  .index .logotipo {
    display: block;
  }

  .index-introducao {
    padding-top: 60px;
  }

  .index-introducao h1 {
    font-size: 2rem;
  }

  .index-introducao p {
    font-size: 1.2rem;
  }

  .index-selecao {
    gap: 20px;
  }

}

@media(max-width:400px) {
  .index .header .logotipo {
    max-width: 60px;
    max-height: 50px;
  }

  .index-introducao {
    padding-top: 30px;
  }

  .index-selecao {
    flex-direction: column;
    place-items: center;
  }

  .index-selecao a {
    max-width: 130px;
  }

  .index .footer-bg {
    position: initial;
  }

}