/* cores temporarias, mudar depois */

:root {
  --cor-primaria: #090909;
  --cor-secundaria: #eee;
  --cor-01: #555;
  --cor-02: #888;
  --cor-d1: #8758ff
}

/* @media (prefers-color-scheme:light) {
  :root {
    --cor-primaria: #eee;
    --cor-secundaria: #111;
    --cor-01: #fff;
    --cor-02: #ddd;
  }
} */