/* cores temporarias, mudar depois */

:root {
  --cor-bg: #111;
  --cor-texto: #eee;
  --cor-01: #555;
  --cor-02: #888;
}

/* @media (prefers-color-scheme:light) {
  :root {
    --cor-bg: #eee;
    --cor-texto: #111;
    --cor-01: #fff;
    --cor-02: #ddd;
  }
} */