:root {
  --cor-primaria: #090909;
  --cor-secundaria: #efefef;
  --cor-01: #666;
  --cor-02: #999;
  --cor-d1: #8758ff
}

/* modo claro? questionável */
/* @media (prefers-color-scheme:light) {
  :root {
    --cor-primaria: #f8f8f8;
    --cor-secundaria: #000;
    --cor-01: #999;
    --cor-02: #666;
  }
} */