body {
  margin: 0px;
  background-color: var(--cor-bg);
  color: var(--cor-01);
}

h1,
h2,
h3,
ul,
p,
span {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}