* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-size: 1.4rem;
  line-height: 1.25;
}

h1,
h2,
h3,
ul,
p,
span {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
}

abbr {
  text-decoration: none;
}

@media(max-width: 400px) {
  .container {
    padding: 10px 20px;
  }
}