.fonte-titulo {
  /* font-family: 'Nova Square'; */
  font-family: "roboto";
  font-weight: 900;
}

.fonte-padrao {
  font-family: "lato";
  font-weight: 500;
}

.texto-cards {

  font-family: 'Changa';
}

.texto-listas {
  font-family: 'Afacad', sans-serif;
}