.fonte-titulo {
  /* font-family: 'Nova Square'; */
  font-family: "roboto";
  font-weight: 900;
}

.fonte-padrao {
  font-family: "lato";
  font-weight: 500;
}

.fonte-card {

  font-family: 'Changa';
}

.fonte-lista {
  font-family: 'Afacad', sans-serif;
}