.titulo {
  /* font-family: 'Nova Square'; */
  font-family: "roboto";
}

.texto-padrao {
  font-family: "lato";
}

.texto-cards {

  font-family: 'Changa';
}

.texto-listas {
  font-family: 'Afacad', sans-serif;
}