.formacao-bg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formacao {
  padding-top: 130px;
  padding-bottom: 0;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formacao-subtitulo {
  margin-top: 140px;
  word-break: break-all;
  max-width: 1ch;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--cor-0);
  user-select: none;
  place-self: center;
}

.formacao-subtitulo .cedilha {
  display: inline-block;
  padding-bottom: 20px;
}

.ingles .formacao-subtitulo {
  line-height: 1.2;
}

/* Letra I bugada na palavra GRADUATION */
.ingles .formacao-subtitulo span {
  display: inline-block;
  margin-left: 10px;
}

.formacao-info {
  grid-column: 1/-1;
  align-self: center;
}

.formacao-info p {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
  text-indent: 30px;
}

.graduacao-lista {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.graduacao {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  max-width: 350px;
  min-width: 230px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  position: relative;
  border: 2px solid var(--cor-d1);
  cursor: default;
}

.graduacao::before {
  content: '';
  display: block;
  height: 40px;
  width: 6px;
  border-radius: 1px;
  background-color: var(--cor-d1);
  position: absolute;
  left: -4px;
  top: 52px;
}

.graduacao h3 {
  margin-bottom: 15px;
  text-wrap: wrap;
  flex: 1;
  font-size: 1.6rem;
}

.graduacao span {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--cor-01);
}

.formacao-extra {
  margin-top: 80px;
}

.formacao-extra h3,
.formacao-idiomas h3 {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.05rem;
  cursor: default;
}

.formacao-extra h3::before {
  display: block;
  content: '';
  background: url('../../img/icones/cursos.svg');
  height: 30px;
  width: 30px;
  background-size: contain;
  position: absolute;
  left: -55px;
  top: 2px;
}

.cursos-lista,
.idiomas-lista {
  margin: 20px 60px 0 30px;
}

.cursos-lista li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  align-items: center;
  color: var(--cor-02);
  position: relative;
}

.cursos-lista li + li {
  border-top: 1px solid rgba(135, 88, 255, 0.2);
}

.cursos-lista a {
  height: 25px;
  width: 25px;
  background: url('../../img/icones/certificado.svg') no-repeat;
  background-size: contain;
  border: 1px solid transparent;
}

.cursos-lista a:hover {
  border: none;
}

.formacao-idiomas {
  margin-top: 40px;
}

.formacao-idiomas h3 {
  position: relative;
}

.formacao-idiomas h3::before {
  display: block;
  content: '';
  background: url('../../img/icones/linguagem.svg');
  height: 40px;
  width: 40px;
  background-size: contain;
  position: absolute;
  left: -60px;
  top: -4px;
}

.idiomas-lista li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.idiomas-lista span {
  color: var(--cor-02);
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .formacao-subtitulo {
    margin-top: 40px;
    margin-right: 40px;
  }

  .graduacao {
    gap: 10px;
  }

  .graduacao h3 {
    margin-bottom: 0;
  }

  .formacao-extra {
    margin-top: 40px;
  }

  .formacao-extra h3,
  .formacao-idiomas h3 {
    font-size: 1.4rem;
  }

  .cursos-lista,
  .idiomas-lista {
    margin-top: 10px;
    margin-right: 0;
  }

  .cursos-lista li,
  .idiomas-lista li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .formacao-idiomas li span {
    font-size: 0.75rem;
  }

  .formacao-idiomas {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .formacao-bg {
    margin-top: 100px;
    grid-template-columns: 1fr;
  }
  .formacao {
    padding-top: 80px;
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .formacao-subtitulo {
    margin: 0;
    padding: 20px 0;
    max-width: none;
    width: 100%;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-d1);
    border-radius: 0;
    border-width: 2px 0;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.8rem;
  }

  .formacao-subtitulo .cedilha {
    padding: 0;
  }

  .ingles .formacao-subtitulo {
    margin-top: 0;
  }

  .ingles .formacao-subtitulo span {
    margin: 0;
  }

  .formacao-info {
    margin-top: 40px;
    grid-column: auto;
  }

  .formacao-info p {
    font-size: 1.6rem;
    text-align: center;
    text-indent: 0;
  }

  .graduacao-lista {
    margin-top: 60px;
    flex-direction: column;
    place-content: center;
  }

  .graduacao {
    margin-top: 0;
    max-width: 500px;
  }

  .graduacao::before {
    top: 40px;
  }

  .formacao-extra {
    margin-top: 80px;
  }

  .formacao-extra,
  .formacao-idiomas {
    margin-left: 40px;
  }

  .cursos-lista,
  .idiomas-lista {
    margin: 10px auto 0 30px;
  }
}

@media (max-width: 400px) {
  .formacao {
    padding-top: 40px;
  }

  .formacao-subtitulo {
    letter-spacing: 0.1rem;
    font-size: 2.8rem;
    text-align: center;
  }

  .ingles .formacao-subtitulo {
    font-size: 2.5rem;
  }

  .formacao-extra ul {
    margin-left: 14px;
  }

  .formacao-extra h3::before {
    top: 14px;
    left: -45px;
  }

  .formacao-idiomas h3::before {
    top: -8px;
    left: -50px;
  }
}
