.formacao {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 500px;
}

.formacao-subtitulo {
  margin-left: 40px;
  word-break: break-all;
  max-width: 1ch;
  font-size: 6rem;
  line-height: 1;
  color: var(--cor-02);
}

.formacao-info {
  grid-column: 2/4;
  align-self: center;
}

.graduacao-lista {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.graduacao {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  max-width: 350px;
  min-width: 205px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  position: relative;
}

.graduacao::before {
  content: "";
  display: block;
  height: 40px;
  width: 6px;
  border-radius: 1px;
  background-color: #fff824;
  position: absolute;
  left: -4px;
  top: 52px;
}

.graduacao h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  text-wrap: wrap;
  flex: 1;
}

.graduacao span {
  font-size: 1rem;
  text-transform: uppercase;
}

.formacao-extra {
  margin-top: 80px;
}

.formacao-extra h3,
.formacao-idiomas h3 {
  text-transform: uppercase;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  background: url("../../img/icones/cursos.svg");
  height: 30px;
  width: 30px;
  background-size: contain;
  position: absolute;
  left: -55px;
  top: 2px;
}

.cursos-lista,
.idiomas-lista {
  margin: 20px 100px 0 30px;
}

.cursos-lista li {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  align-items: center;
  color: var(--cor-02);
  position: relative;
}

.cursos-lista a {
  height: 25px;
  width: 25px;
  background: url("../../img/icones/certificado.svg");
  background-size: contain;
}

.formacao-idiomas {
  margin-top: 40px;
}

.formacao-idiomas h3 {
  position: relative;
}

.formacao-idiomas h3::before {
  display: block;
  content: "";
  background: url("../../img/icones/linguagem.svg");
  height: 40px;
  width: 40px;
  background-size: contain;
  position: absolute;
  left: -60px;
  top: -4px;
}

.idiomas-lista li {
  margin-bottom: 10px;
}

.idiomas-lista span {
  color: var(--cor-02);
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (max-width:800px) {
  .formacao-subtitulo {
    font-size: 5rem;
  }

  .graduacao-lista {
    margin-top: 10px;
    gap: 20px;
  }

  .graduacao {
    gap: 10px;
  }

  .graduacao h3 {
    margin-bottom: 0;
  }

  .formacao-extra {
    margin-top: 40px;
  }

  .formacao-extra h3,
  .formacao-idiomas h3 {
    font-size: 1.4rem;
  }

  .cursos-lista,
  .idiomas-lista {
    margin-top: 10px;
  }

  .cursos-lista li,
  .idiomas-lista li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .formacao-idiomas {
    margin-top: 25px;
  }
}

@media (max-width:600px) {
  .formacao {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }

  .formacao-subtitulo {
    margin: 0;
    font-size: 4.3rem;
    max-width: none;
  }

  .formacao-info {
    margin-top: 40px;
    grid-column: auto;
  }

  .formacao-info p {
    text-align: center;
  }

  .graduacao-lista {
    margin-top: 40px;
    flex-direction: column;
  }

  .graduacao {
    margin-top: 0;
    max-width: 500px;
  }

  .graduacao::before,
  .formacao-extra h3::before,
  .formacao-idiomas h3::before {
    display: none;
  }

  .cursos-lista,
  .idiomas-lista {
    margin: 10px auto 0 30px;
  }
}