.introducao {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.foto-perfil {
  justify-self: right;
  max-width: 400px;
}

.foto-perfil img {
  height: 100%;
  object-fit: cover;
}

.apresentacao {
  display: grid;
  align-content: center;
}

.apresentacao h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.apresentacao p {
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  max-width: 40ch;
}

@media(max-width:800px) {

  .introducao {
    gap: 0;
    grid-template-columns: 1fr auto;
  }

  .apresentacao h1 {
    margin-bottom: 30px;
  }

  .apresentacao p {
    margin-left: 20px;
    max-width: 30ch;
  }
}

@media(max-width:600px) {
  .introducao {
    margin-top: 120px;
    grid-template-columns: 1fr;
  }

  .foto-perfil {
    display: none;
  }

  .apresentacao h1 {
    font-size: 4rem;
    letter-spacing: .5rem;
  }

  .apresentacao p {
    margin-left: 0;
    max-width: max-content;
  }
}