.projetos-bg {
  margin: 40px auto 100px auto;
  padding-top: 140px;
  max-width: 1400px;
}

.projetos-subtitulo {
  display: inline-block;
  padding: 4px 40px;
  border-radius: 6px;
  font-size: 6rem;
  letter-spacing: .8rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: 2px solid var(--cor-d1);
  user-select: none;
}

.projetos-intro {
  margin-top: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 30px;
  text-align: justify;
}

.projetos-intro a {
  color: var(--cor-d1);
}

.projetos-grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  place-items: start;
  gap: 20px;
  background-color: #111;
  box-sizing: content-box;
  border-radius: 4px;
  padding: 20px 30px;
}

.portfolio h3 {
  grid-column: 1/-1;
  font-size: 2rem;
  font-weight: 800;
  cursor: default;
}

.portfolio img {
  border: 1px solid #000;
  outline: 1px solid var(--cor-d1);
  min-width: 220px;
}

.portfolio-texto {
  place-self: start;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
  height: 100%;
  text-align: justify;
  align-items: center;
}

.portfolio .botao {
  place-self: end;
}

@media(max-width:1400px) {
  .projetos-subtitulo {
    border-radius: 0 4px 4px 0;
    border-width: 2px 2px 2px 0;
  }
}

@media(max-width:1200px) {
  .projetos-subtitulo {
    font-size: 4rem;
  }

  .projetos-grid {
    margin-top: 80px;
    grid-template-columns: 1fr;
  }

  .portfolio {
    margin: auto;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .portfolio-texto {
    place-self: center start;
    max-width: 20ch;
  }
}

@media(max-width:800px) {

  .projetos-intro {
    margin-top: 80px;
    font-size: 1.6rem;
  }

  .projetos-grid {
    margin-top: 60px;
    gap: 60px;
  }

  .portfolio {
    margin: 0 50px;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
  }

  .portfolio-texto {
    gap: 8px;
    place-self: center;
    max-width: none;
  }

}

@media(max-width:600px) {

  .projetos-bg {
    padding-top: 80px;
  }

  .projetos-subtitulo {
    padding: 20px 0;
    font-size: 3rem;
    width: 100%;
    border-radius: 0;
    border-width: 2px 0;
    text-align: center;
  }

  .portfolio-texto {
    margin: 0;
  }
}

@media(max-width:400px) {
  .projetos-bg {
    margin: 30px auto;
    padding-top: 40px;
  }

  .projetos-subtitulo {
    letter-spacing: 0.4rem;
  }

  .portfolio {
    margin: 0 auto;
    padding: 10px;
  }

  .portfolio-texto {
    gap: 4px;
  }
}