.projetos-bg {
  margin: 0 0 100px 0;
  padding-top: 120px;
  position: relative;
}

.projetos-subtitulo {
  display: inline-block;
  padding: 4px 40px;
  border-radius: 6px;
  font-size: 6rem;
  letter-spacing: 0.8rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: 2px solid var(--cor-d1);
  user-select: none;
}

.projetos-intro {
  margin-top: 60px;
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 30px;
  text-align: justify;
}
.projetos-intro a {
  color: var(--cor-d1);
}

.projetos-wrapper {
  margin-top: 40px;
  overflow: hidden;
}

.projetos-slide {
  display: flex;
  gap: 80px;
}

.portfolio {
  padding: 10px 30px 0 30px;
  box-sizing: content-box;
  max-width: 40vw;
  flex-shrink: 0;
  background-color: #111;
  border-radius: 4px;
  border: 3px solid var(--cor-01);
  transform: scale(0.8);
  transition: 0.3s;
  opacity: 0.6;
  cursor: pointer;
  line-height: 1.1;
}

.portfolio.ativo {
  transform: scale(1);
  border: 2px solid var(--cor-d1);
  opacity: 1;
}

.portfolio h3 {
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
}

.portfolio-texto {
  margin-bottom: 16px;
  text-align: justify;
  color: var(--cor-02);
}

.portfolio img {
  max-width: 70%;
  margin: 12px auto;
  border: 1px solid #000;
  outline: 1px solid var(--cor-secundaria);
}

.portfolio .botao {
  margin-left: auto;
  margin-right: 15%;
  margin-bottom: 8px;
  max-width: max-content;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.portfolio .botao::after {
  margin: 3px 0 0 4px;
  content: '';
  height: 14px;
  width: 14px;
  background: url('../../img/icones/arrow-black.svg') no-repeat center center;
}

.portfolio .portfolio-tecnologias h4 {
  font-size: 1.2rem;
}

.portfolio .portfolio-tecnologias span {
  margin: 8px 4px;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--cor-secundaria);
  /* background-color: var(--cor-secundaria); */
  color: var(--cor-secundaria);
  font-size: 0.8rem;
  font-weight: 800;
  cursor: default;
}
/* Controle da navegação */
[data-control='slide'] {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

[data-control='slide'] li {
  background-color: var(--cor-secundaria);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  color: transparent;
  transform: scale(0.75);
  transition: 0.3s;
}

[data-control='slide'] li.ativo {
  background-color: var(--cor-d1);
  transform: scale(1);
}

.arrow-nav {
  display: none;
}

@media (max-width: 1400px) {
  .projetos-subtitulo {
    border-radius: 0 4px 4px 0;
    border-width: 2px 2px 2px 0;
  }

  .projetos-slide {
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .projetos-subtitulo {
    font-size: 4rem;
  }

  .portfolio h3 {
    margin-bottom: 14px;
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .projetos-intro {
    margin-top: 40px;
    font-size: 1.6rem;
  }

  .portfolio {
    max-width: 60vh;
  }
}

@media (max-width: 600px) {
  .projetos-subtitulo {
    padding: 20px 0;
    font-size: 3rem;
    width: 100%;
    border-radius: 0;
    border-width: 2px 0;
    text-align: center;
  }

  .projetos-slide {
    gap: 0;
  }

  .portfolio {
    max-width: 60vw;
  }

  .portfolio .botao {
    font-size: 1rem;
    padding: 6px;
  }

  .portfolio .botao::after {
    margin: 4px 0 0 2px;
    transform: scale(0.8);
  }
}

@media (max-width: 500px) {
  [data-control='slide'] {
    margin-top: 40px;
  }
  .arrow-nav {
    display: block;
  }

  .prev,
  .next {
    display: block;
    position: absolute;
    bottom: -12px;
    right: 20%;
    border: none;
    background: url('../../img/icones/right-arrow.svg');
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .prev {
    left: 20%;
    transform: rotate(180deg);
  }
}

@media (max-width: 400px) {
  .projetos-bg {
    margin: 30px auto;
    padding-top: 40px;
  }

  .projetos-subtitulo {
    letter-spacing: 0.4rem;
  }

  .projetos-slide {
    gap: 0;
  }

  .portfolio,
  .portfolio.ativo {
    padding: 12px;
    border-width: 1px;
    max-width: 62vw;
  }

  .portfolio h3 {
    font-size: 1.7rem;
  }

  .portfolio-texto {
    margin-bottom: 10px;
  }

  .portfolio .botao {
    margin: 20px auto;
    max-width: none;
    justify-content: center;
  }

  .prev {
    left: 10%;
  }

  .next {
    right: 10%;
  }
}
