.projetos-bg {
  margin: 0 0 100px 0;
  padding-top: 120px;
  max-width: 1600px;
}

.projetos-subtitulo {
  display: inline-block;
  padding: 4px 40px;
  border-radius: 6px;
  font-size: 6rem;
  letter-spacing: .8rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: 2px solid var(--cor-d1);
  user-select: none;
}

.projetos-intro {
  margin-top: 60px;
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 30px;
  text-align: justify;
}
.projetos-intro a {
  color: var(--cor-d1);
}

.projetos-wrapper {
  margin-top: 40px;
  overflow: hidden;
}

.projetos-grid {
display: flex;
gap: 80px;
/* teste para o slide */
transform: translate3d(-800px,0,0);
}

.portfolio {
  padding: 20px 80px;
  min-width: 50vw;
  background-color: #111;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid var(--cor-d1);
  position: relative;
}

.portfolio h3 {
  margin-bottom: 20px;
  grid-column: 1/-1;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  cursor: default;  
}

.portfolio-texto {
  margin-bottom: 20px;
  text-align: justify;
}

.portfolio img {
  margin-bottom: 20px;
  border: 1px solid #000;
  outline: 1px solid var(--cor-secundaria);
}

.portfolio .botao {
  margin-left: auto;
  max-width: max-content;
}

.portfolio .porfolio-tecnologias {
  display: block;
}

.portfolio .portfolio-tecnologias span {
  margin: 8px 4px;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-size: .8rem;
}

@media(max-width:1400px) {
  .projetos-subtitulo {
    border-radius: 0 4px 4px 0;
    border-width: 2px 2px 2px 0;
  }
}

@media(max-width:1200px) {
  .projetos-subtitulo {
    font-size: 4rem;
  }

  .projetos-grid {
    margin-top: 80px;
    grid-template-columns: 1fr;
  }

  .portfolio {
    margin: auto;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .portfolio-texto {
    place-self: center start;
    max-width: 20ch;
  }
}

@media(max-width:800px) {

  .projetos-intro {
    margin-top: 40px;
    font-size: 1.6rem;
  }

  .projetos-grid {
    margin-top: 60px;
    gap: 60px;
  }

  .portfolio {
    margin: 0 50px;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
  }

  .portfolio-texto {
    gap: 8px;
    place-self: center;
    max-width: none;
  }

}

@media(max-width:600px) {

  .projetos-bg {
    padding-top: 80px;
  }

  .projetos-subtitulo {
    padding: 20px 0;
    font-size: 3rem;
    width: 100%;
    border-radius: 0;
    border-width: 2px 0;
    text-align: center;
  }

  .portfolio-texto {
    margin: 0;
  }
}

@media(max-width:400px) {
  .projetos-bg {
    margin: 30px auto;
    padding-top: 40px;
  }

  .projetos-subtitulo {
    letter-spacing: 0.4rem;
  }

  .portfolio {
    margin: 0 auto;
    padding: 10px;
  }

  .portfolio-texto {
    gap: 4px;
  }
}